#speakers_focus {
  main {
    .speakers {
      @include lg {
        padding-top: $spacer * 2;
      }
      .speakers_content {
        padding-bottom: $spacer*2;
        .speaker_card {
          width: inherit;
          display: flex;
          @include lg {
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
          .mask {
          }
          .figure-caption {
            text-align: left;
            padding-left: $spacer * 6;
            margin-top: $spacer * 8;
            @include lg {
              width: 100%;
              padding-left: 0;
              text-align: center;
              margin-top: $spacer * 4;
              hr {
                margin-left: 40%;
              }
            }
            h2 {
              margin-bottom: $spacer/2;
              font-size: 3rem;
            }
            h3 {
              font-weight: 400;
            }
            hr {
              width: 20%;
              height: 0.35rem;
              color: $gray;
              margin-top: $spacer * 3;
              margin-bottom: $spacer * 4;
            }
            p {
              line-height: 1.9;
              font-size: $font-size-base;
              font-weight: 500;
              @include lg {
                  text-align: justify;
              }
            }
          }
        }
      }
    }
    .talk_list{
        padding-bottom: $spacer*6;
        .table-responsive{
            overflow: inherit;
            .table{
                & > :not(caption) > * > *{
                   padding: 1.15rem 1.15rem; 
                }
                thead{
                    background-color: $primary;
                    font-size: $font-size-lg;
                }
                tbody{
                    font-weight: 700;
                    tr{
                        border-width: 1px;
                        td:nth-child(2), th{
                            font-size: $font-size-base*1.15;
                        }
                        td{
                            .talk, .role{
                                font-weight: 600; 
                            }
                        }
                    }
                }
            }
        }

    }
    .sponsor {
      .sponsor_intro {
        background-color: $gray-light;
        font-weight: 500;
      }
    }
  }
}
